body {
    counter-set: chapter -1 section 0 subsection 0 proposition 0 Figure 0;
}

h1 {
    counter-set: section 0 proposition 0 subsection 0;
}


h1::before {
    content: counter(chapter)".";
    counter-increment: chapter;
}


h2 {
    counter-set: subsection 0 proposition 0;
}

h2::before {
    content: counter(chapter)"." counter(section)".";
    counter-increment: section;
}


h3::before {
    content: counter(chapter)"." counter(section) "." counter(subsection);
    counter-increment: subsection;
}

h4::after {
    content: counter(chapter)"." counter(section) "." counter(proposition);
    counter-increment: proposition;
}


a.anchor-link {
    display: none;
}

div#showtitlewrapper {
    display: none;
}

div.pix {
    width: 50%;
    height: 50%;
    margin: initial;
}

.carlsson.p {
    display: block;
}

div.carlsson {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.pix-center {
    width: 70%;
    height: 70%;
    margin: auto;
    text-align: center !important;

}

.pix-center p {
    display: block !important;
    text-align: center !important;
}

div.text_cell_render>p {
    font-family: "MS 明朝", serif;
    line-height: 170%;
    font-size: 15px;
}

.bold_text {
    margin: auto;
    text-align: center !important;

}

.bold_text p {
    font-size: large;
    display: block !important;
    text-align: center !important;

}

.pix-center p::before {
    content: "Figure" counter(Figure)":";
    counter-increment: Figure;
}

.Chapter {
    font-size: 18px !important;
    font-weight: bold;
    counter-set: section 0 subsection 0
}

.Chapter::before {
    white-space: pre-wrap;
    content: counter(chapter)"      ";
    counter-increment: chapter;
}

.Section {
    font-size: 15px !important;
    font-weight: bold;
    counter-set: subsection 0;
    margin-top: 0px !important;
}

.Section::before {
    white-space: pre-wrap;
    content: counter(chapter)"." counter(section)"          ";
    counter-increment: section;
}

.Subsection {
    display: block;
    font-size: 15px !important;
    margin-top: 0px !important;
}

.Subsection::before {
    white-space: pre-wrap;
    content: counter(chapter)"." counter(section)"." counter(subsection) "              ";
    counter-increment: subsection;
}

.Index {
    font-size: 18px !important;
    font-weight: bold;
}

.Title {
    margin-top: 20%;
    margin-bottom: 10%;
}

.Title p {
    text-align: center;
    font-family: "MS 明朝", serif;
    font-size: 30px !important;
    font-weight: bold;
}

.cover {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.Attribute {
    font-size: 15px;
}


.Join p {
    text-align: center;
    font-family: "MS 明朝", serif;
    font-size: 30px !important;
}