body {
    counter-set: chapter 0 section 0 subsection 0 proposition 0;
}

h1 {
    counter-set: section 0 proposition 0 subsection 0;
}


h1::before {
    content: counter(chapter)".";
    counter-increment: chapter;
}


h2 {
    counter-set: subsection 0 proposition 0;
}

h2::before {
    content: counter(chapter)"." counter(section)".";
    counter-increment: section;
}


h3::before {
    content: counter(chapter)"." counter(section) "." counter(subsection);
    counter-increment: subsection;
}

h4::after {
    content: counter(chapter)"." counter(section) "." counter(proposition);
    counter-increment: proposition;
}


a.anchor-link {
    display: none;
}

div#showtitlewrapper {
    display: none;
}

div.pix {
    width: 30%;
    height: 30%;
    margin: initial;
}

.carlsson.p {
    display: block;
}

div.carlsson {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.pix-center {
    width: 30%;
    height: 30%;
    margin: auto;
}

div.text_cell_render>p {
    font-family: "MS 明朝", serif;
    line-height: 170%;
    font-size: 15px;
}